/* Universal styles */
body {
    font-family: 'Playfair Display';
    font-size: 16px;
    text-align: center;
}

/* header styles */
a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    width: 100%;
    height: 3.5rem;

}

.header h3 {
    display: flex;
    justify-content: left;
    align-items: center;
    color: palevioletred;
    margin-left: 1rem;
}

.navbar {
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.navbar li {
    display: inline;
    padding: 0.5rem; 
}

/* Mission style */
.mission {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-image: url(./images/Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.mission-content {
    background-color: white;
    width: 100%;
    line-height: 1.5rem;
    justify-content: center;
    opacity: 0.9;
    margin-bottom: 10rem;
}

.mission-content h1 {
    color: palevioletred;
    font-size: 2.5rem;
}

.mission-content h4 {
    font-size: 1.75rem;
    font-weight: 400;
    font-style: italic;
}

/* Member style */
.team-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.member-bio h3 {
    width: 50%;
    margin-left: 15rem;
    font-size: 2rem;
}

.member-bio h1 {
    width: 50%;
    margin-left: 15rem;
    font-size: 4rem;
    font-weight: 400;
    font-style: italic;
    color: palevioletred;
}

.member-bio p {
    width: 50%;
    margin-left: 15rem;
    font-size: 1.125rem;
}

.team-member {
    width: 50%;
}

.member-pic img {
    margin-top: 5rem;
    border-radius: 5px;
    height: 30rem;
    width: 30rem;
}

/* Services styles */
.services-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 1.5rem;
    color: palevioletred;
}

.service-types {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
    margin: 2rem;
}

.service-types img {
    height: 15rem;
    width: 15rem;
    margin: 1.5rem;
}

.service-1 {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: space-around;
}

.service-2 {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: space-around;
}

.service-3 {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: space-around;
}

.services-types h4 {
    margin: 1.5rem;
    font-size: 1.5rem;
}

.service-types p {
    margin: 1.5rem;
    font: 1.25rem;
}

.contact-box h2 {
    color: palevioletred;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 1rem;
}
